.Main .card {
    position: relative;
    overflow: hidden;
     
    padding: 1rem 0.5rem;
    margin: 1rem auto;
   
    border: 1px solid #666;
    border-radius: 5px;
     box-shadow:0px 0px 10px -2px; 
    transition: 0.5s;

    
}
.Main .card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 22px 5px;
    transition: 1s;
}
.Main .poster{
    border-radius: 5px 5px 0 0;
    width: 250px;
    height: 376px;
}

.Main .triangle {
    font-size: 1rem;
    position: absolute;
    background-color: rgba(154, 206, 58, 0.589);
    
    
    transform: translateX(-47%) rotate(-47deg) translateY(105%) rotate(0deg);
    transform-origin: center top; 
    padding: 0.5rem 4rem;
    
}

 @media (min-width:1024px) {

    .Main .card {
       min-width: 20%;
       width: 20%;
    
    }
    
} 